# Mathematical Functions

In [3]:
"""
math module concerns itself with floating point and integer operations
of complex numbers (cmath). Functions called them inseide parantheses
"""
import math
math.exp(1.5)

4.4816890703380645

In [5]:
math.cos(0)

1.0

In [7]:
"""
math module also provides two very useful nonfunctions attributes: math.pi and math.e
give the values of pi and e, the base of the natural lorarithm, respectively. 
Possible to import the math module with "from math import" and access its functiosn directly
"""

from math import *
cos(pi)

-1.0

In [9]:
#Example: 
math.sin(math.pi/2)

1.0

In [11]:
math.degrees(math.acos(math.sqrt(3)/2))

30.000000000000004

In [13]:
"""
Heron's formula gives the area, A, of a trianqle with sides a, b, c as 
A = sqrt(s(s-a)(s-b)(s-c)) where s = 1/2(a+b+c)
"""

a = 4.503
b = 2.377
c = 3.902
s = (a + b + c) / 2
area = math.sqrt(s*(s-a)*(s-b)*(s-c))
area

4.63511081571606

In [39]:
a = 6378137.0 
c = 6356752.314245
x = pi
e = sqrt(1 - ((c)**2/(a)**2))
s = (2 * pi * (a)**2) *((1+ ((1-(e)**2/e) * math.atanh(e))))
s

274849166719343.78

# Print Function

In [47]:
ans = 6 
print("Solve :", 2, 'x =', ans,'for x')

Solve : 2 x = 6 for x

In [59]:
print("Solve: ", 2, 'x = ', ans, ' for x ', sep='', end='!\n')

Solve: 2x = 6 for x !

# String Formating

In [64]:
"""
Simplest form, possible to use string format method to insert objects into it.
basic synthax

'{} plus {} equals {}'.format(2, 3, 'five')
"""
'{} plus {} equals {}'.format(2, 3, 'five')

'2 plus 3 equals five'

In [66]:
'{1} plus {0} equals {2}'.format(2, 3, 'five')

'3 plus 2 equals five'

In [68]:
'{num1} plus {num2} equals {answer}'.format(num1 = 2, num2 = 3, answer = 'five')

'2 plus 3 equals five'

In [70]:
h = 6.62607015e-34
h_units = 'J.s'
f'h = {h:.3e} {h_units}'

'h = 6.626e-34 J.s'

In [72]:
radius = 2.5 
s = f'The radiuos is {radius} m.'
print(s)

The radiuos is 2.5 m.

# For Loops 
iterable object one by one and do something with each in turn.

In [82]:
"""
for item in iterable object:
which yields each element of the iterable object in turns to be processed by the subsequent block of code. 
"""

fruit_list = ['manzan', 'platano', 'naranja']
for fruit in fruit_list:
    print(fruit)

manzan
platano
naranja

In [84]:
#Iterate over the string items in fruit_list one by one and for each string, iterate over its letters
fruit_list = ['manzan', 'platano', 'naranja']
for fruit in fruit_list:
    for letter in fruit:
        print(letter, end = '.')
    print()

m.a.n.z.a.n.
p.l.a.t.a.n.o.
n.a.r.a.n.j.a.

In [ ]:
# Range Type
provides an efficient method of referring to a sequence of numbers that forms a simple arithmetic progression
an = a0 +nd for n = 0, 1, 2, .....

In [91]:
a = range (9) #0, 1, 2, 3, 4, 5, 6, 7, 8
b = range (1, 6) #1, 2, 3, 4, 5
c = range (0, 6, 2) #0, 2, 4
d = range (10, 0, -2) #10, 8, 6, 4, 2

In [96]:
"""
Fibonacci sequence is the sequence of numbers generated by appliying the rules

a1 = a2 = 1, ai = ai-1 + ai-2,

Fibonaccio number is the sum of the previous two: 1, 1, 2, 3, 5, 8, 13.....
"""

#eg2-i-fibonacci
#Calculate and stores the first n Fibonacci numbers

n = 100
fib = [1, 1]
for i in range(2, n+1):
    fib.append(fib[i-1] + fib[i-2])
print(fib)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075, 573147844013817084101]

In [98]:
"""
Alternatively, we can generate the series without storing
more than two numbers at a time as follows
"""
#eg2-i-fibonacci
#Calculate and stores the first n Fibonacci numbers
#Keep track of the two most recent Fibonacci numbers

a, b =  1, 1
print (a, b, end = '')
for i in range(2, n+1):
    #The next number (b) is a+b: then a becomes the previous b.
    a, b = b, a + b
    print('', b, end = '')

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099 53316291173 86267571272 139583862445 225851433717 365435296162 591286729879 956722026041 1548008755920 2504730781961 4052739537881 6557470319842 10610209857723 17167680177565 27777890035288 44945570212853 72723460248141 117669030460994 190392490709135 308061521170129 498454011879264 806515533049393 1304969544928657 2111485077978050 3416454622906707 5527939700884757 8944394323791464 14472334024676221 23416728348467685 37889062373143906 61305790721611591 99194853094755497 160500643816367088 259695496911122585 420196140727489673 679891637638612258 1100087778366101931 1779979416004714189 2880067194370816120 4660046610375530309 7540113804746346429 12200160415121876738 19740274219868223167 31940434634990099905 51680708854858323072 83621143489848422977 135301852344706746049 218922995834555169026 354224848179261915075 573147844013817084101

# Enumerate 
Because tange objects can be used to produce a sequence of integers,
it is tempting to use them to provide the indexes of listo or tuples 
when iterating over them in a for loop

In [105]:
mammals = ['Kanguro', 'lobo', 'chango']
for i in range(len(mammals)):
    print(i, ':', mammals[i])
#Works but its better to avoid the explicit construction of a range object
#Using enumerate: method takes an iterable object and produces, for each item in turn, a tumple (count, item)

0 : Kanguro
1 : lobo
2 : chango

In [107]:
mamamls = ['Kanguro', 'lobo', 'chango']
for i, mammal in enumerate(mammals):
    print(i, ':', mammal)

0 : Kanguro
1 : lobo
2 : chango

In [111]:
list(enumerate(mammals, 4))

[(4, 'Kanguro'), (5, 'lobo'), (6, 'chango')]

# Zip 
What if we want to iterate over two (or more) sequence at the same time ? 
zip built-in-function is for: creates an iterator object in which each item is a tuple of items taken in turn from the sequences passed to it:

In [114]:
a = [1, 2, 3, 4]
b = ['a', 'b', 'c', 'd']
zip(a,b)

In [116]:
for pair in zip(a,b):
    print(pair)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [118]:
list(zip(a,b)) #convert to list

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [120]:
#A nice feature of zip is that it can be used to unzip sequences of tuples
z = zip(a,b) #zip
A, B = zip(*z) #unzip
print(A,B)

(1, 2, 3, 4) ('a', 'b', 'c', 'd')

# Control Flow
Data objects are inspected and blocks of code executed conditionally on the baes of some test carried out on them.

# if .... elif.....else
allows statements to be executed conditionally, depending on the result of one or more logical test (which evaluate to the boolean values True or False)

In [126]:
"""
if <logical expression 1> evaluates to True, <statements 1> are executed; 
otherwise, if <logical expression 2> evaluates to True, statements 2 are executed.
"""

for x in range(10):
    if x <= 3:
        print(x, 'is less than or equal to three')
    elif x > 5:
        print(x, 'is grather than five')
    else: 
        print(x, 'must be four or five, then')

0 is less than or equal to three
1 is less than or equal to three
2 is less than or equal to three
3 is less than or equal to three
4 must be four or five, then
5 must be four or five, then
6 is grather than five
7 is grather than five
8 is grather than five
9 is grather than five